PORT=8000
MONGODB_URI=mongodb+srv://abhishek123:your-password@cluster0.gkjyngy.mongodb.net
CORS_ORIGIN=*  #kahi se bhi req aaye ye chalega
ACCESS_TOKEN_SECRET=hello-mr
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=backend
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

